@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Italic-webfont.eot');
    src: url('fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg') format('svg');
    font-weight: 900;
    font-style: bold;
}


*{
    font-family:'roboto';
}

/* Valeur générale du body, qui sert pour les em et rem*/
body{
    font-size: 14px;
}

/* Liens cliquables*/
a {
    font-weight: 500;
    font-size: 1.4rem;    
    color: #13389c;
}


/* Texte du top-header*/
.navbar > li > a {
    font-size: 1.2rem !important;
    font-weight: 700;
}

.nav-link {
    color: #1dacd6; 
    font-size: 1.2rem !important;
}

.navbar-default {
    background-color: #13389c
    border-color: #610202;
    font-size: 1.2rem !important;
}

/* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #13389c;
    font-size: 1.2rem !important;
}

/* Couleur utilisée pour un menu dépliant lorsqu'il est ouvert */
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #1dacd6;
    font-size: 1.2rem ;
}


/* text style*/
.head_txt{
    color: #1a1a1a; 
    font-size: 2rem;
    margin-top: 1rem;
}

h1{
    margin: 18px 0 10px;
    font-family:'roboto'; 
    color: #13389c;
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
    color: #13389c;
}

h3{
    font-size: 2rem;   
    color: #13389c;
}

p {
    font-size: 1em;
    color: #1a1a1a; 
}

strong {
    font-weight: 700;
    font-size: 1.4rem;    
    color: #1a1a1a; 
}

ul {
  display: block;
  font-size: 1em;
  color: #1a1a1a;
  list-style-type: square;
}

/* 2 columns*/
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* tabset style */
.nav-pills>li:not(.active) a{ /* not active */
     background-color: white;
     color: #13389c;
     font-size: 1.4rem;  
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus, .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{ /* active */
     background-color: #13389c;
     color: white;
     font-size: 1.4rem;
     }

/* Navbar parameters */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #fff;
    font-size:  2rem;
    background-color: #13389c;
    border-color: #243d61;
    z-index: 2;
}

/* Carousel */
.slick-track {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.slick-track .slick-slide .slick-header{
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.carousel-title {
  margin: 0 -9999rem;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.5);
}


/* scroll news */
.scroll-100 {
  max-height: 400px;
  overflow-y: auto;
  background-color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #13389c;
  border-radius: 5px;
}

/* Table */
.table>tbody>tr>td{
  font-size: 1.2rem;
  color: #1a1a1a;
}

.table>tbody>tr>td>a{
  font-size: 1.2rem;
  color: #13389c;
}

.table>tbody>tr>td>strong{
    font-weight: 700;
    font-size: 1.2rem;    
    color: #1a1a1a; 
}

.leaflet-popup-content {
    width: 1200px;
}


/* Padding */
.padding
{
width:80px;
height:80px;
float: left;    
margin: 0 15px 0 0
}
