<br><br><br><br>
<p style="text-align:center;">

<style>
.image1 {
   height: 40px;
   display: inline-block;
   margin: 0px 50px;
}
</style>

<img src="fig/logos/logos-footer.png" alt="" class="image1">